In [1]:
import pandas as pd
import numpy as np

In [3]:
# 파이썬에서 Dictionary는 key:value 형식으로 데이터를 저장할 때 사용
# 딕셔너리는 순서가 있고, 변경이 가능하고, 중복이 허용되지 않는다
# 딕셔너리를 정의할 때 {} 기호를 사용!
# {} 기호를 사용하는 또다른 파이썬 자료구조가 존재! => set
# set는 자동으로 정렬되고 중복 없애는 자료 구조

In [4]:
set = {2, 5, 1, 6, 7, 9, 3, 2, 1}

In [5]:
set, type(set)

({1, 2, 3, 5, 6, 7, 9}, set)

In [2]:
dict = [
    {'name': 'Tracy', 'from': 'Little Rock', 'sex':'female', 'age': 60},
    {'name': 'Mike', 'from': 'Reading', 'sex':'male', 'age': 54},
    {'name': 'Martina', 'from': 'Berlin', 'sex':'female', 'age':62},
    {'name': 'Gerry', 'from':'Heerlen', 'sex':'female', 'age': 80},
    {'name': 'Paz', 'from': 'Manila', 'sex':'female', 'age': 61},
    {'name': 'Doug', 'from': 'Aberdeen', 'sex':'male', 'age': 55},
    {'name': 'Jeff', 'from': 'Cardiff', 'sex':'male', 'age': 57},
    {'name': 'Cindy', 'from':'Little Rock', 'sex': 'female', 'age':60},
    {'name': 'Keith', 'from': 'Reading', 'sex': 'male', 'age':57},
    {'name': 'Adrian', 'from': 'Tercera', 'sex': 'male', 'age': 38},
    {'name': 'Katherine', 'from': 'Fayeteville', 'sex': 'female', 'age': 38}
]

In [6]:
# Dict Vectorizer
from sklearn.feature_extraction import DictVectorizer

In [7]:
vec = DictVectorizer()

In [9]:
vectors = vec.fit_transform(dict) # data를 fit하고 transform

In [10]:
vectors

<11x23 sparse matrix of type '<class 'numpy.float64'>'
	with 44 stored elements in Compressed Sparse Row format>

In [11]:
vectors.toarray()

array([[60.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.],
       [54.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.],
       [62.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  0.],
       [80.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [61.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.],
       [55.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [57.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [60.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [57.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.],
       [38.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [38.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.]])

In [13]:
vec.get_feature_names_out(), len(vec.get_feature_names_out())

(array(['age', 'from=Aberdeen', 'from=Berlin', 'from=Cardiff',
        'from=Fayeteville', 'from=Heerlen', 'from=Little Rock',
        'from=Manila', 'from=Reading', 'from=Tercera', 'name=Adrian',
        'name=Cindy', 'name=Doug', 'name=Gerry', 'name=Jeff',
        'name=Katherine', 'name=Keith', 'name=Martina', 'name=Mike',
        'name=Paz', 'name=Tracy', 'sex=female', 'sex=male'], dtype=object),
 23)

In [15]:
from sklearn.feature_extraction.text import TfidfTransformer

In [24]:
tf_transformer = TfidfTransformer().fit(vectors)

In [25]:
word_count_vec_tf = tf_transformer.transform(vectors) # count 행렬을 tf-idf 형식 바꾸어준다

In [26]:
word_count_vec_tf.shape

(11, 23)

In [27]:
df0 = pd.DataFrame(word_count_vec_tf.toarray())
df0

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,0.997805,0.000000,0.000000,0.00000,0.000000,0.000000,0.039684,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.046427,0.025594,0.000000
1,0.997207,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.044067,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.051555,0.000000,0.000000,0.000000,0.031267
2,0.997673,0.000000,0.044924,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.044924,0.000000,0.000000,0.000000,0.024765,0.000000
3,0.998600,0.000000,0.000000,0.00000,0.000000,0.034848,0.000000,0.000000,0.000000,0.000000,...,0.034848,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019211,0.000000
4,0.997596,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.045657,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.045657,0.000000,0.025169,0.000000
5,0.996964,0.050605,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.030691
6,0.997172,0.000000,0.000000,0.04884,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.04884,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029620
7,0.997805,0.000000,0.000000,0.00000,0.000000,0.000000,0.039684,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025594,0.000000
8,0.997493,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.041760,0.000000,...,0.000000,0.00000,0.000000,0.048855,0.000000,0.000000,0.000000,0.000000,0.000000,0.029630
9,0.993671,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.073002,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.044274
10,0.993840,0.000000,0.000000,0.00000,0.073015,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.00000,0.073015,0.000000,0.000000,0.000000,0.000000,0.000000,0.040250,0.000000