Machine (기계)는 문자와 단어를 이해할 수 없다!

0과 1로 이루어진 이진 형태의 데이터를 기계는 이해할 수 있다!

Computer Vision의 가장 기본은 이미지는 픽셀 (pixel)로 이루어져 있고,
픽셀에 대한 정보는 x, y와 같은 픽셀의 위치 그리고 해당 픽셀의 색상 정보 (보통 RGB)를 가지고 있다.
이런 정보들은 숫자로 쉽게 만들 수가 있다!

텍스트 데이터를 기계가 이해할 수 있도록 숫자로 표현해야 한다!

CountVectorizer는 텍스트를 숫자 데이터로 변환하는 방법!

언어학 (linguistics)에서 말뭉치 (corpus) 또는 텍스트 말뭉치는 크고 구조화된 텍스트 집합으로 구성된 언어 자원이다! => 최근에는 일반적으로 컴퓨터에서 저장 및 처리되는 형태

corpus linguaistics (말뭉치 언어학) : 통계 분석 및 가설 테스트를 수행하고, 특정 언어 영역 내에서 발생을 확인하거나 언어 규칙을 검증하는데 말뭉치를 사용

In [1]:
import pandas as pd
import numpy as np

In [2]:
text1 ='''Tracy loves writing about data science.'''

In [3]:
%pip install scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.1.1-cp39-cp39-win_amd64.whl (7.4 MB)
Requirement already satisfied: numpy>=1.17.3 in .\venv\lib\site-packages (from scikit-learn) (1.23.1)
Requirement already satisfied: joblib>=1.0.0 in .\venv\lib\site-packages (from scikit-learn) (1.1.0)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.3.2
  Using cached scipy-1.8.1-cp39-cp39-win_amd64.whl (36.9 MB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.1.1 scipy-1.8.1 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
# Countvectorizer : 텍스트를 수치 데이터로 변화하는데 사용하는 method! sklearn을 통해 사용이 가능

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
count_vec = CountVectorizer()

word_count_vec = count_vec.fit_transform([text1])

In [8]:
word_count_vec

<1x6 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [9]:
word_count_vec.shape

(1, 6)

In [10]:
text1 ='''Tracy loves writing about data science.'''
text2 = '''Tracy loves writing for medium publications.'''

In [11]:
corpus = [text1, text2]
corpus

['Tracy loves writing about data science.',
 'Tracy loves writing for medium publications.']

In [12]:
count_vec = CountVectorizer()

word_count_vec = count_vec.fit_transform(corpus)
word_count_vec.shape

(2, 9)

In [13]:
text1 ='''Tracy loves writing about data science.'''
text2 = '''Tracy loves writing for medium publications.'''
text3 = '''Tracy loves studying Python programming.'''
text4 = '''Tracy loves entering Kaggle competitions.'''
text5 = '''Tracy loves making YouTube videos.'''
text6 = '''Tracy loves getting new subscribers.'''
corpus = [text1, text2, text3, text4, text5, text6]
corpus

['Tracy loves writing about data science.',
 'Tracy loves writing for medium publications.',
 'Tracy loves studying Python programming.',
 'Tracy loves entering Kaggle competitions.',
 'Tracy loves making YouTube videos.',
 'Tracy loves getting new subscribers.']

In [14]:
count_vec = CountVectorizer()

word_count_vec = count_vec.fit_transform(corpus)
word_count_vec.shape

(6, 21)

In [15]:
print(count_vec.get_feature_names_out())

['about' 'competitions' 'data' 'entering' 'for' 'getting' 'kaggle' 'loves'
 'making' 'medium' 'new' 'programming' 'publications' 'python' 'science'
 'studying' 'subscribers' 'tracy' 'videos' 'writing' 'youtube']

In [17]:
print("Vocabulary: ", count_vec.vocabulary_)

Vocabulary:  {'tracy': 17, 'loves': 7, 'writing': 19, 'about': 0, 'data': 2, 'science': 14, 'for': 4, 'medium': 9, 'publications': 12, 'studying': 15, 'python': 13, 'programming': 11, 'entering': 3, 'kaggle': 6, 'competitions': 1, 'making': 8, 'youtube': 20, 'videos': 18, 'getting': 5, 'new': 10, 'subscribers': 16}

In [19]:
print(word_count_vec.toarray())

[[1 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0]
 [0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0]
 [0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 1 0 0 0]
 [0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0]
 [0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1]
 [0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0]]

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

count_vec = CountVectorizer()

word_count_vec = count_vec.fit_transform(corpus)
vector = count_vec.transform(corpus)

In [22]:
print(vector)

  (0, 0)	1
  (0, 2)	1
  (0, 7)	1
  (0, 14)	1
  (0, 17)	1
  (0, 19)	1
  (1, 4)	1
  (1, 7)	1
  (1, 9)	1
  (1, 12)	1
  (1, 17)	1
  (1, 19)	1
  (2, 7)	1
  (2, 11)	1
  (2, 13)	1
  (2, 15)	1
  (2, 17)	1
  (3, 1)	1
  (3, 3)	1
  (3, 6)	1
  (3, 7)	1
  (3, 17)	1
  (4, 7)	1
  (4, 8)	1
  (4, 17)	1
  (4, 18)	1
  (4, 20)	1
  (5, 5)	1
  (5, 7)	1
  (5, 10)	1
  (5, 16)	1
  (5, 17)	1

In [23]:
print("Encoded Document is: ")
print(vector.toarray())

Encoded Document is:
[[1 0 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 1 0]
 [0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0]
 [0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 1 0 0 0]
 [0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0]
 [0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1]
 [0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0]]

In [28]:
matrix = count_vec.fit_transform(corpus)
pd.set_option("display.max_columns", None)
counts = pd.DataFrame(matrix.toarray(), index = ["doc1", "doc2", "doc3", "doc4", "doc5", "doc6"], columns = count_vec.get_feature_names())
counts

# Tracy loves making YouTube videos :doc5

d:\workspace\lecture_night\venv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,about,competitions,data,entering,for,getting,kaggle,loves,making,medium,new,programming,publications,python,science,studying,subscribers,tracy,videos,writing,youtube
doc1,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0
doc2,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,1,0
doc3,0,0,0,0,0,0,0,1,0,0,0,1,0,1,0,1,0,1,0,0,0
doc4,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0
doc5,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,0,1
doc6,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,1,1,0,0,0

In [29]:
counts.loc["Total", :] = counts.sum()
counts

,about,competitions,data,entering,for,getting,kaggle,loves,making,medium,new,programming,publications,python,science,studying,subscribers,tracy,videos,writing,youtube
doc1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
doc2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
doc3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
doc4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
doc5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
doc6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
Total,1.0,1.0,1.0,1.0,1.0,1.0,1.0,6.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,6.0,1.0,2.0,1.0